<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>footer Page</title>

</head>
<body>
	<footer class="page-footer blue accent-4">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Contact the Developer!</h5>
					<p class="grey-text text-lighten-4">단국대학교</p>
					<p class="grey-text text-lighten-4">Name   | 정  찬 </p>
					<p class="grey-text text-lighten-4">Major  | Applied Computer Engineering</p>
					<p class="grey-text text-lighten-4">Lab    | Data Computing and Networking Lab</p>
					<p class="grey-text text-lighten-4">E-mail | j94chan@gmail.com</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">단국대학교 Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="http://www.dankook.ac.kr/web/kor">단국대학교</a></li>
						<li><a class="grey-text text-lighten-3" href="https://portal.dankook.ac.kr/web/portal">단국대 포털</a></li>
						<li><a class="grey-text text-lighten-3" href="http://iacf.dankook.ac.kr/web/iacf">단국대 산학협력단</a></li>
						<li><a class="grey-text text-lighten-3" href="http://cms.dankook.ac.kr/web/engineering">단국대 공과대학</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				ⓒ 2017 Copyright by JEONG CHAN. All rights reserved.
				<a class="grey-text text-lighten-4 right">단국대학교 공과대학 학생회</a>
			</div>
		</div>
	</footer>
</body>
</html>